@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  width: 100vw;
  height: 100vh;
  scrollbar-width: none;
  overflow-y: scroll;
  /* overflow-x: scroll; */
  font-family: "Raleway", serif !important;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 25px;
}

h1:hover {
  cursor: default;
}

h2:hover {
  cursor: default;
}

ul {
  padding-inline-start: 0px;
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  z-index: 1000;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-content {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-items {
  width: 100vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  justify-content: center;
  margin: 0 auto;
}

.nav-item {
  margin: 1rem;
  text-shadow: #2c2c2c 2px 2px 2px;
}

.nav-item:hover {
  transition: ease-in-out 0.1s;
  transform: scale(1.2);
  color: #bff000;
  cursor: pointer;
}

.responsiveNavRetour {
  margin: 1rem;
  text-shadow: #2c2c2c 2px 2px 2px;
}

.responsiveNavRetour:hover {
  transition: ease-in-out 0.1s;
  transform: scale(1.2);
  color: #bff000;
  cursor: pointer;
}

.section {
  min-height: 100vh;
  max-height: 100vh;
  background-color: #c2c2c2;
  color: black;
}

.section-dark {
  min-height: 100vh;
  max-height: 100vh;
  background-color: #2c2c2c;
  color: white;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.section-content-home {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
}

.home-left {
  text-align: center;
  width: 50%;
}

.home-right {
  width: 50%;
}

.nav-item>.active {
  border-bottom: 3px solid #bff000;
}

.coucou {
  animation-name: coucou-animation;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}

@keyframes coucou-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: calc(0.8em + 1vw);
  }

  h2 {
    font-size: calc(0.8em + 1vw);
  }

  .nav-items {
    width: 100vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    justify-content: space-around;
    margin: 0 auto;
  }

  .responsiveNav {
    display: none
  }

  .responsiveNavRetour {
    text-align: center;
    width: 100px;
  }

  .section {
    min-height: 100vh;
    max-height: 100vh;
    background-color: #c2c2c2;
    color: black;
  }

  .section-dark {
    min-height: 100vh;
    max-height: 100vh;
    background-color: #2c2c2c;
    color: white;
  }

  .section-content-home {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    margin: 0 auto;
  }

  .home-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 250px;
  }

  .home-right {
    width: 100%;
    height: 180px;
    z-index: 500;
    margin-left: 20%;
    text-shadow: #2c2c2c 2px 2px 2px;
  }

  .burger-menu {
    position: fixed;
    z-index: 1000;
    background-color: rgba(44, 44, 44, 0.8);
    height: 100vh;
    width: 100vw;
  }

  .nav-item {
    display: none;
  }

  .nav-items-burger {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .burger-nav {
    top: 0px;
    width: 100%;
    height: 40px;
    z-index: 1000;
  }

  .nav-burger {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    width: 100%;
    z-index: 1000;
  }

  .text-nav {
    text-align: center;
  }
}

@media only screen and (min-width: 800px) {
  .responsiveNavRetour {
    display: none
  }

  .burger-menu {
    display: none
  }

  .nav-burger-menu {
    display: none
  }
}