@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

html {
  max-width: 100vw;
  max-height: 100vh;
}


body {
  width: 100vw;
  height: 100vh;
  scrollbar-width: none;
  overflow-y: scroll;
  /* overflow-x: scroll; */
  font-family: "Raleway", serif !important;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1:hover {
  cursor: default;
}

h2:hover {
  cursor: default;
}

h3:hover {
  cursor: default;
}

p:hover {
  cursor: default;
}

ul {
  padding-inline-start: 0px;
}

.awssld__wrapper { /* taille de la vue scroll lat */
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}

.awssld__content { /* contenu de la vue scroll lat */
  justify-content: center !important;
}

.nav {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 40px;
  z-index: 2000;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-content {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-items {
  width: 100vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  justify-content: center;
  margin: 0 auto;
}

.nav-item {
  margin: 1rem;
  text-shadow: #2c2c2c 2px 2px 2px;
}

.nav-item:hover {
  transition: ease-in-out 0.1s;
  transform: scale(1.2);
  color: #bff000;
  cursor: pointer;
}

.responsiveNavRetour {
  margin: 1rem;
  text-shadow: #2c2c2c 2px 2px 2px;
}

.responsiveNavRetour:hover {
  transition: ease-in-out 0.1s;
  transform: scale(1.2);
  color: #bff000;
  cursor: pointer;
}

.section-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: auto;
  max-height: auto;
  background-color: #2c2c2c;
  color: white;
  padding: 50px;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
}

.section-content-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-lang {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: auto;
  max-height: auto;
  background-color: #2c2c2c;
  color: white;
  display: flex;
  padding: 40px;
}

.section-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: auto;
  max-height: auto;
  background-color: #2c2c2c;
  color: white;
  display: flex;
  padding: 40px;
  min-height: 20vh;
  max-height: auto;
}


.overlay-contact {
  z-index: 1000;
  position: absolute;
  background-color: rgba(44, 44, 44, 0.8);
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.section-exp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: auto;
  max-height: auto;
  background-color: #c2c2c2;
  color: #2c2c2c;
  display: flex;
  padding: 40px;
  min-height: 70vh;
  max-height: auto;
}

.section-content-lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-content-contact {
  min-width: 90vw;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form-control {
  width: 50vw;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  font-family: "Raleway", serif !important;
}

.form-text {
  width: 50vw;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  font-family: "Raleway", serif !important;
}

.form-but {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-button {
  font-family: "Raleway", serif !important;
  font-size: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
  height: 25px;
  background-color: #c2c2c2;
  color: #2c2c2c;
  border-width: 0px;
  box-shadow: 2px 2px 10px #2c2c2c;
}

.form-buttonv {
  font-family: "Raleway", serif !important;
  font-size: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
  height: 25px;
  background-color: #bff000;
  color: #2c2c2c;
  border-width: 0px;
  box-shadow: 2px 2px 10px #2c2c2c;
}

.form-buttonf {
  font-family: "Raleway", serif !important;
  font-size: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 250px;
  height: 25px;
  background-color: #bff000;
  color: #2c2c2c;
  border-width: 0px;
  box-shadow: 2px 2px 10px #2c2c2c;
}

.form-label {
  margin-bottom: 5px;
}

.section-content-exp {
  min-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lang {
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lang-item {
  width: 100px;
  height: 100px;
  background-color: rgba(194, 194, 194, 0.5);
  border-radius: 20px;
  color: #2c2c2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
}

.lang-hover {
  text-align: center;
  color: white;
}

.lang-img {
  margin-bottom: 10px;
  height: 50px;
}

.lang-img:hover {
  transition: ease-in-out 0.1s;
  transform: scale(1.2);
}

.lang-hover:hover {
  transition: ease-in-out 0.1s;
  transform: scale(1.2);
  color: #bff000;
}

.home-left {
  margin-top: 20px;
  text-align: center;
  width: 40%;
}

.home-right {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.nav-item>.active {
  transition: ease-in-out 0.1s;
  font-size: 20px;
  color: #bff000;
}

.coucou {
  animation-name: coucou-animation;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}

.group-svg {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-svg {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.lien-svg {
  font-size: 40px;
  margin: 0px;
  color: rgba(191, 240, 0, 0.5);
}

.svg-menu {
  font-size: 40px;
  margin: 0px;
  color: white;
}

.svg-menu:hover {
  transition: ease-in-out 0.1s;
  transform: scale(1.2);
  color: #bff000;
  cursor: pointer;
}

.lien-svg:hover {
  font-size: 40px;
  margin: 0px;
  color: rgba(191, 240, 0, 1);
  transition: ease-in-out 0.1s;
  transform: scale(1.1);
}

.group-contact-svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-svg {
  opacity: 0.5;
  margin: 0px;
}

.contact-svg:hover {
  opacity: 1.0;
}

.lien-svg-bottom {
  font-size: 20px;
  margin: 0px;
  color: rgba(44, 44, 44, 0.5);
}

.lien-svg-bottom:hover {
  font-size: 20px;
  margin: 0px;
  color: rgba(44, 44, 44, 1);
}

.section-bottom {
  width: 100vw;
  min-height: 50px;
  max-height: 50px;
  background-color: #c2c2c2;
  color: #2c2c2c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom-bar {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.bottoml {
  min-width: 250px;
  max-width: 250px;
  text-align: left;
}

.bottomm {
  min-width: 250px;
  max-width: 250px;
  text-align: center;
}

.bottomr {
  min-width: 250px;
  max-width: 250px;
  text-align: right;
}

.date-right {
  margin-left: 10px;
  color: #2c2c2c;
}

.date-left {
  margin-right: 10px;
  color: #2c2c2c;
}

.icon-timeline-element {
  font-size: 90px;
}

@keyframes coucou-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
@media only screen and (max-width: 1170px) {
  .date-right {
    margin-left: 0px;
  }

  .date-left {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: calc(0.8em + 1vw);
  }

  h2 {
    font-size: calc(0.8em + 1vw);
  }

  h3 {
    font-size: calc(0.8em + 1vw);
  }

  .nav-items {
    width: 100vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
  }

  .responsiveNav {
    display: none
  }

  .responsiveNavRetour {
    text-align: center;
  }

  .lang {
    max-width: 90%;
    justify-content: center;
  }

  .section-content-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-left {
    width: 100%;
    z-index: 0;
    max-height: auto;
    margin-top: 20px;
  }

  .home-right {
    margin-top: 20px;
    width: 100%;
    z-index: 500;
    text-shadow: #2c2c2c 2px 2px 2px;
    max-height: auto;
  }

  .burger-menu {
    position: fixed;
    z-index: 2000;
    background-color: rgba(44, 44, 44, 0.99);
    height: 100vh;
    width: 100vw;
    animation: slide-down 0.5s ease-in-out;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  .nav-item {
    display: none;
  }

  .nav-items-burger {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .burger-nav {
    top: 0px;
    width: 100vw;
    height: 40px;
    z-index: 2000;
  }

  .nav-burger {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    width: 100vw;
    z-index: 2000;
  }

  .text-nav {
    text-align: center;
  }

  .bottoml {
    display: none;
  }
  
  .bottomm {
    min-width: 190px;
    max-width: 190px;
    text-align: left;
  }
  
  .bottomr {
    min-width: 70px;
    max-width: 70px;
    text-align: right;
  }

  .form-but {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-control {
    width: 80vw;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-family: "Raleway", serif !important;
  }
  
  .form-text {
    width: 80vw;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    font-family: "Raleway", serif !important;
  }

  .section-lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: auto;
    max-height: auto;
    background-color: #2c2c2c;
    color: white;
    display: flex;
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .lang-item {
    width: 70px;
    height: 70px;
    background-color: rgba(194, 194, 194, 0.5);
    border-radius: 20px;
    color: #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  
  .lang-hover {
    text-align: center;
    color: white;
    font-size: 15px;
  }
  
  .lang-img {
    margin-bottom: 10px;
    height: 40px;
  }
  
  .lang-img:hover {
    transition: ease-in-out 0.1s;
    transform: scale(1.2);
  }
  
  .lang-hover:hover {
    transition: ease-in-out 0.1s;
    transform: scale(1.2);
    color: #bff000;
  }
}

@media only screen and (min-width: 720px) {
  .responsiveNavRetour {
    display: none
  }

  .burger-menu {
    display: none
  }

  .nav-burger-menu {
    display: none
  }
}