@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;
    background-color: #c2c2c2;
    scrollbar-width: none;
    overflow-y: scroll;
    /* overflow-x: scroll; */
    font-family: "Raleway", serif !important;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

h1:hover {
    cursor: default;
}

h2:hover {
    cursor: default;
}

h5:hover {
    cursor: default;
}

p:hover {
    cursor: default;
}

ul {
    padding-inline-start: 0;
}

.awssld__wrapper {
    /* taille de la vue scroll lat */
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
}

.awssld__content {
    /* contenu de la vue scroll lat */
    justify-content: center !important;
    align-items: center !important;
}

.form-success {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    position: fixed;
    z-index: 5000;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: open-express;
    animation-duration: 1s;
    top: 0;
    left: 0;
}

@keyframes open-express {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.form-success-exit {
    position: fixed;
    z-index: 5500;
    color: rgb(110, 110, 110);
    top: 20px;
    right: 20px;
}

.form-success-exit:hover {
    color: black;
    cursor: pointer;
}

.nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 46px;
    z-index: 2000;
    background-color: #c2c2c2;
    box-shadow: 0 0 10px black;
}

.nav-logo:hover {
    cursor: pointer;
}

.nav-content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-items {
    width: 100vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: black;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
}

.nav-item {
    margin: 1rem;
    /* text-shadow: black 1px 1px 1px; */
    color: black;
    font-weight: bold;
}

.nav-item:hover {
    transition: ease-in-out 0.1s;
    transform: scale(1.2);
    color: #2c2c2c;
    cursor: pointer;
}

.responsiveNavRetour {
    margin: 1rem;
}

.responsiveNavRetour:hover {
    cursor: pointer;
}

.section-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    /*min-height: auto;*/
    /*max-height: auto;*/
    background-color: #2c2c2c;
    color: white;
    padding: 65px;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}

.section-content-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    /*min-height: auto;*/
    /*max-height: auto;*/
    background-color: #c2c2c2;
    color: #2c2c2c;
    padding: 65px;
}

.section-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    color: white;
    padding: 65px;
    height: auto;
    /*min-height: 20vh;*/
    /*max-height: auto;*/
}

.overlay-contact {
    z-index: 2000;
    position: fixed;
    background-color: #2c2c2c;
    min-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}


.overlay-contact-success {
    z-index: 2500;
    position: fixed;
    background-color: #2c2c2c;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.section-exp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #c2c2c2;
    color: #2c2c2c;
    padding: 65px;
    min-height: 100%;
    max-height: 100%;
}

.section-content-lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-content-contact {
    min-width: 90vw;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.form-contact {
    overflow: auto;
    padding-bottom: 50px;
}

.form-contact::-webkit-scrollbar {
    display: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-control {
    min-width: 50vw;
    max-width: 50vw;
    min-height: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    text-align: left;
    font-family: "Raleway", serif !important;
}

.form-text {
    min-width: 50vw;
    max-width: 50vw;
    min-height: 20vh;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    text-align: left;
    font-family: "Raleway", serif !important;
}

.form-but {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-button {
    font-family: "Raleway", serif !important;
    font-size: 15px;
    margin: 10px;
    border-radius: 20px;
    width: 100px;
    height: 25px;
    background-color: #c2c2c2;
    color: #2c2c2c;
    border-width: 0;
    box-shadow: 2px 2px 10px #2c2c2c;
}

.form-button:hover {
    cursor: pointer;
    background-color: #bff000;
    font-weight: bold;
}

.form-buttonv {
    font-family: "Raleway", serif !important;
    font-size: 15px;
    margin: 10px;
    border-radius: 20px;
    width: 100px;
    height: 25px;
    background-color: #bff000;
    color: #2c2c2c;
    border-width: 0;
    box-shadow: 2px 2px 10px #2c2c2c;
}

.form-buttonv:hover {
    cursor: pointer;
    background-color: #c2c2c2;
    font-weight: bold;
}

.form-buttonf {
    font-family: "Raleway", serif !important;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(194, 194, 194, 0.7);
    color: #2c2c2c;
    border-width: 0;
    box-shadow: 2px 2px 10px #2c2c2c;
}

.form-buttonf:hover {
    cursor: pointer;
    background-color: rgba(194, 194, 194, 1);
}

.form-label {
    margin-bottom: 5px;
}

.section-content-exp {
    min-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lang {
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lang-item {
    width: 100px;
    height: 100px;
    background-color: rgba(44, 44, 44, 0.5);
    border-radius: 20px;
    color: #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
}

.lang-hover {
    text-align: center;
    color: white;
}

.lang-img {
    margin-bottom: 10px;
    height: 50px;
}

.lang-img:hover {
    transition: ease-in-out 0.1s;
    transform: scale(1.2);
}

.lang-hover:hover {
    transition: ease-in-out 0.1s;
    transform: scale(1.2);
    color: #bff000;
    cursor: default;
}

.home-left {
    text-align: center;
    width: 40%;
}

.home-right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: justify;
}

.nav-item > .active {
    transition: ease-in-out 0.1s;
    font-size: 20px;
    color: #2c2c2c;
}

.select-projet {
    margin: 0;
}

.select-projet:hover {
    cursor: pointer;
}

.coucou {
    animation-name: coucou-animation;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    transform-origin: 75% 75%;
    display: inline-block;
}

.group-svg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
}

.menu-svg {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.lien-svg {
    font-size: 40px;
    margin: 0;
    color: rgba(191, 240, 0, 0.5);
}

.exp-lien {
    text-decoration: none;
    color: white;
}

.exp-lien:hover {
    cursor: pointer;
}

.exp-lien-dark {
    text-decoration: none;
    color: #2c2c2c;
}

.exp-lien-dark:hover {
    cursor: pointer;
}

.svg-menu {
    font-size: 40px;
    margin: 0;
    color: black;
}

.svg-menu:hover {
    cursor: pointer;
}

.lien-svg:hover {
    font-size: 40px;
    margin: 0;
    color: rgba(191, 240, 0, 1);
    transition: ease-in-out 0.1s;
    transform: scale(1.1);
}

.group-contact {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.group-contact-svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space-contact {
    margin-bottom: 20px;
}

.contact-svg {
    opacity: 0.7;
}

.contact-svg:hover {
    opacity: 1.0;
}

.lien-svg-bottom {
    font-size: 20px;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}

.lien-svg-bottom:hover {
    font-size: 20px;
    margin: 0;
    color: rgba(255, 255, 255, 1);
}

.section-bottom {
    width: 100vw;
    min-height: 50px;
    background-color: #2c2c2c;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottom-bar {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.bottom-l {
    text-align: left;
}

.bottom-m {
    text-align: center;
}

.bottom-r {
    text-align: right;
}

.date-right {
    margin-left: 10px;
    color: #2c2c2c;
}

.date-left {
    margin-right: 10px;
    color: #2c2c2c;
}

.icon-timeline-element {
    font-size: 90px;
}

.section-projets-first {
    width: 100vw;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
}

.projet {
    width: 100vw;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.projet-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projet-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
    color: #2c2c2c;
}

.projet-text {
    color: white;
    font-size: medium;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 20px;
    text-align: justify;
}

.lien-projet {
    font-size: 15px;
    margin: 0;
    text-decoration: none;
    color: #bff000;
}

.lien-projet:hover {
    cursor: pointer;
}

.pastille-projet {
    font-size: 13px;
    width: auto;
    padding: 10px;
    margin: 5px;
    background-color: #bff000;
    color: black;
    border-radius: 20px;
}

.projet-img {
    max-height: 70vh;
    max-width: 50vw;
}

.next-projet {
    width: 100vw;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.projet-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-top: 20px;
}

.projet-title {
    width: 100vw;
    text-align: center;
    color: white;
    font-weight: bold;
}

.projet-pastilles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@keyframes coucou-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 1170px) {
    .date-right {
        margin-left: 0;
        color: #2c2c2c;
    }

    .date-left {
        margin-right: 0;
        color: white;
    }
}

@media only screen and (max-width: 720px) {
    h1 {
        font-size: calc(0.8em + 1vw);
    }

    h2 {
        font-size: calc(0.8em + 1vw);
    }

    h3 {
        font-size: calc(0.8em + 1vw);
    }

    p {
        font-size: calc(0.5em + 1.5vw);
    }

    .form-control {
        min-width: 80vw;
        max-width: 80vw;
    }

    .form-text {
        min-width: 80vw;
        max-width: 80vw;
    }

    .projet-img {
        max-height: 70vh;
        max-width: 80vw;
    }

    .projet-pastilles {
        width: 80vw;
    }

    .nav-items {
        width: 100vw;
        display: flex;
        flex-direction: row;
        list-style: none;
        color: black;
        justify-content: space-between;
        margin: 0 auto;
        padding-left: 5px;
        padding-right: 5px;
    }

    .responsiveNav {
        display: none
    }

    .responsiveNavRetour {
        text-align: center;
    }

    .lang {
        max-width: 90%;
        justify-content: center;
    }

    .section-projets-first {
        width: 100vw;
        padding-top: 0;
        padding-bottom: 60px;
    }

    .section-home {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-content-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-left {
        width: 100%;
        z-index: 0;
        /*max-height: auto;*/
    }

    .home-right {
        margin-top: 50px;
        margin-left: 0;
        width: 90%;
        z-index: 500;
        text-shadow: #2c2c2c 2px 2px 2px;
        /*max-height: auto;*/
    }

    .burger-menu {
        position: fixed;
        z-index: 2000;
        background-color: #c2c2c2;
        height: 100vh;
        width: 100vw;
        animation: slide-down 0.5s ease-in-out;
    }

    @keyframes slide-down {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .nav-item {
        display: none;
    }

    .nav-items-burger {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
    }

    .burger-nav {
        top: 0;
        width: 100vw;
        height: 40px;
        z-index: 2000;
    }

    .nav-burger {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        width: 100vw;
        z-index: 2000;
    }

    .text-nav {
        text-align: center;
    }

    .bottom-l {
        text-align: left;
    }

    .bottom-m {
        display: none;
    }

    .bottom-r {
        text-align: right;
    }

    .section-lang {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /*min-height: auto;*/
        /*max-height: auto;*/
        background-color: #c2c2c2;
        color: #2c2c2c;
        padding: 65px 25px;
    }

    .lang-item {
        width: 70px;
        height: 70px;
        background-color: rgba(44, 44, 44, 0.5);
        border-radius: 20px;
        color: #2c2c2c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 10px;
    }

    .lang-hover {
        text-align: center;
        color: white;
        font-size: 15px;
    }

    .lang-img {
        margin-bottom: 10px;
        height: 40px;
    }

    .lang-img:hover {
        transition: ease-in-out 0.1s;
        transform: scale(1.2);
    }

    .lang-hover:hover {
        transition: ease-in-out 0.1s;
        transform: scale(1.2);
        color: #bff000;
    }


    .group-contact {
        width: 100%;
    }

    .group-contact-svg {
        width: 100%;
    }

    .contact-content {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .projet-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        text-align: center;
    }

    .projet {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projet-left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .projet-right {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin: 0 auto;
        padding-right: 0;
    }

    .projet-text {
        font-size: calc(15px + 0.5vw);
        width: 80vw;
    }

}

@media only screen and (min-width: 720px) {
    .responsiveNavRetour {
        display: none
    }

    .burger-menu {
        display: none
    }

    .nav-burger-menu {
        display: none
    }

}

@media only screen and (max-height: 700px) {
    .awssld__wrapper {
        /* taille de la vue scroll lat */
        min-width: 100vw;
        min-height: 160vh;
    }
}